body{
    background-color: navy;
    margin: 0;
    padding: 0;
}

#app{
    background-color: white;
    margin: 5% auto;
    width: 40%;
    padding: 2%;
    border-radius: 50px;
}

.choice{
    padding: 2%;
    width: 100%;
    margin: 2% auto;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.choice:hover{
    background-color: #222;
    color: white;
}

#next-btn{
    display: block;
    padding: 15px;
    width: 20%;
    margin: 2% auto;
    background: navy;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#next-btn:hover{
    background-color: blue;
}

#restartButton {
    display: block;
    margin: 20px auto;
    background: navy;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    width: 50%;
    cursor: pointer;
}

.footer{
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}


@media (max-width: 600px) {
    button {
        font-size: 0.9rem;
        padding: 8px 16px; /
    }

    #next-btn, #restartButton {
        width: 50%;
    }
}
@media (max-width: 1000px) {
    button {
        font-size: 0.9rem;
        padding: 8px 16px; /
    }

    #next-btn, #restartButton {
        width: 50%;
    }
}